/* font-family styles */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* body styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header styles */
.header {
  background-image: url('../Assets/Hero-bg.png');
  height: 600px;
}